<title><?php echo $data['title']; ?></title>
<meta charset="utf-8" />
<meta name="robots" content="noindex, nofollow" />

<link rel="shortcut icon" href="assets/img/icon/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="assets/img/icon/apple-touch-icon.png" />
<link rel="apple-touch-icon-precomposed" href="assets/img/icon/apple-touch-icon-precomposed.png" />
<meta name="application-name" content="Terrific Micro" />
<meta name="msapplication-TileColor" content="#5133ab" />
<meta name="msapplication-TileImage" content="assets/img/icon/tile-icon.png" />

<link rel="stylesheet" href="app.css" type="text/css" />
